<div class="header-wrapper">
    <h4>{{title}} <a href="{{moreHref}}">Смотреть все</a></h4>
</div>
{{#conditional-loading-spinner condition=isLoading}}
<table id="ember98" class="topic-list showThumbnail tiles-style showExcerpt showActions ember-view">
    <tbody class="topic-list-body">
    {{#each topicList as |t|}}
        <div data-topic-id="{{t.id}}" id="ember101" class="tiles-grid-item topic-list-item category-proekty-integratorov-setpoint has-excerpt visited ember-view">
                <div class="tiles-grid-item-content">
                    <div class="image">
                        {{#if t.thumbnails}}
                        <div class="topic-thumbnail">
                            <a href="{{t.url}}">
                                <img class="thumbnail tiles-thumbnail" src="{{t.thumbnails.1.url}}" style="height:auto;width:100%" loading="lazy">
                            </a>
                        </div>
                        {{/if}}
                        <a href="{{t.url}}">
                            <div class="image-mask" style=""></div>
                        </a>
                    </div>
                    <div class="topic-details">
                        <div class="topic-header-grid">
                            <div class="topic-title">
                            <span class="link-top-line">
                                <a href="{{t.lastPostUrl}}" role="heading" aria-level="2" class="title raw-link raw-topic-link" data-topic-id="9770">
                                    {{t.title}}
                                </a>
                                <span class="topic-post-badges"></span>
                            </span>
                            </div>
                        </div>
                        <a href="{{t.url}}"></a>
                    </div>
                </div>
            </div>
    {{/each}}
    </tbody>
</table>
{{/conditional-loading-spinner}}